<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>检验报告</title>
    <style type="text/css">
        @font-face {
            font-family: STSong;
            src: url('templates/STSong.TTF');
        }

        body {
            font-family: STSong;
        }

        th {
            background-color: lightgray;
        }

        .title {
            background-color: lightgray;
        }

        .value {
            width: 100px;

        }

        td.type {
            text-align: left;
        }

        td.mean {
            text-align: center;
        }

        .std {
            text-align: center;
        }

        .range {
            text-align: center;
        }

        .even {
            background-color: #ddd;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">依可医疗心输出量检验报告</h1>

    <div style="border: darkgray 1px solid">
        <table width="90%" style="margin-top:20px" border="0" cellspacing="0" cellpadding="2">
            <tr>
                <td class="title" style="width:80px;">ID:</td>
                <td class="value">112</td>
                <td class="title" style="width:80px;">姓名:</td>
                <td class="value"></td>
                <td class="title" style="width:80px;">年龄:</td>
                <td class="value"></td>
            </tr>
            <tr>
                <td class="title">性别:</td>
                <td class="value"></td>
                <td class="title">身高:</td>
                <td class="value"></td>
                <td class="title">体重:</td>
                <td class="value"></td>
            </tr>
            <tr>
                <td class="title">科室:</td>
                <td class="value"></td>
                <td class="title">医生:</td>
                <td class="value"></td>
                <td class="title">类别:</td>
                <td class="value" style="text-align:left"></td>
            </tr>
        </table>
    </div>

    <div style="border: darkgray 1px solid">
        <table width="90%" style="margin-top:30px" border="0" cellspacing="0" cellpadding="5">
            <tr>
                <th class="type">检测类别</th>
                <th class="mean">均值</th>
                <th class="std">标准差</th>
                <th class="range">正常范围</th>
            </tr>
            <tr>
                <td class="type">HR <span style="font-size:8px;">(beat/min)</span></td>
                <td class="mean">1</td>
                <td class="std">2</td>
                <td class="range">4</td>
            </tr>
            <tr>
                <td class="type even">SV <span style="font-size:8px;">(mL)</span></td>
                <td class="mean even"></td>
                <td class="std even"></td>
                <td class="range even"></td>
            </tr>
            <tr>
                <td class="type">SI <span style="font-size:8px;">(mL/m^2)</span></td>
                <td class="mean"></td>
                <td class="std"></td>
                <td class="range"></td>
            </tr>
            <tr>
                <td class="type even">CO <span style="font-size:8px;">(L/min)</span></td>
                <td class="mean even"></td>
                <td class="std even"></td>
                <td class="range even"></td>
            </tr>
            <tr>
                <td class="type">CI <span style="font-size:8px;">(L/min/m^2)</span></td>
                <td class="mean"></td>
                <td class="std"></td>
                <td class="range"></td>
            </tr>
            <tr>
                <td class="type even">VI <span style="font-size:8px;">(ms)</span></td>
                <td class="mean even"></td>
                <td class="std even"></td>
                <td class="range even"></td>
            </tr>
            <tr>
                <td class="type">ACI <span style="font-size:8px;">(/100s^2)</span></td>
                <td class="mean"></td>
                <td class="std"></td>
                <td class="range"></td>
            </tr>
            <tr>
                <td class="type even">SVR <span style="font-size:8px;">(dyne*sec/cm^5)</span></td>
                <td class="mean even"></td>
                <td class="std even"></td>
                <td class="range even"></td>
            </tr>
            <tr>
                <td class="type">SVRI <span style="font-size:8px;">(dyne*sec*m^2/cm^5)</span></td>
                <td class="mean"></td>
                <td class="std"></td>
                <td class="range"></td>
            </tr>
            <tr>
                <td class="type even">TFC <span style="font-size:8px;">(1/ohm)</span></td>
                <td class="mean even"></td>
                <td class="std even"></td>
                <td class="range even"></td>
            </tr>
            <tr>
                <td class="type">LVET <span style="font-size:8px;">(ms)</span></td>
                <td class="mean"></td>
                <td class="std"></td>
                <td class="range"></td>
            </tr>
            <tr>
                <td class="type even">PEP <span style="font-size:8px;">(ms)</span></td>
                <td class="mean even"></td>
                <td class="std even"></td>
                <td class="range even"></td>
            </tr>
            <tr>
                <td class="type">STR <span style="font-size:8px;">(ratio)</span></td>
                <td class="mean"></td>
                <td class="std"></td>
                <td class="range"></td>
            </tr>
            <tr>
                <td class="type even">RMSSD <span style="font-size:8px;">(ms)</span></td>
                <td class="mean even"></td>
                <td class="std even"></td>
                <td class="range even"></td>
            </tr>
            <tr>
                <td class="type">LCW <span style="font-size:8px;">(kg/m^2)</span></td>
                <td class="mean"></td>
                <td class="std"></td>
                <td class="range"></td>
            </tr>
            <tr>
                <td class="type even">LCWI <span style="font-size:8px;">(kg*m/m^2)</span></td>
                <td class="mean even"></td>
                <td class="std even"></td>
                <td class="range even"></td>
            </tr>

            <tr>
                <td class="type">TBW <span style="font-size:8px;">(**)</span></td>
                <td class="mean"></td>
                <td class="std"></td>
                <td class="range"></td>
            </tr>
            <tr>
                <td class="type even">TWC <span style="font-size:8px;">(**)</span></td>
                <td class="mean even"></td>
                <td class="std even"></td>
                <td class="range even"></td>
            </tr>

        </table>
    </div>
</body>

</html>