<html>
    <head>
        <title>GCP NDP</title>
    </head>
    <body style="margin:20px;">
        <h1>GDP NDP Flask Templates</h1>
        <div>
            <a href="/form.html">Enter</a>
        </div>
        <div style="margin-top:20px">
            <a href="/search">Search</a>
        </div>
        <div style="margin-top:20px; background-color: aqua">
            <table width="80%">
                {% for item in all_items %}
                    <tr>
                        <td> {{item.singer}}</td>
                        <td> {{item.song}}</td>
                    </tr>
                {% endfor %}
            </table>           
        </div>
    </body>
</html>

